<div class="card">
    <div class="card-header">
        <h5>Basic Table</h5>
        <span>use class <code>table</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Platform</th>
                        <th>full_Name</th>
                        <th>Phone_Number</th>
                        <th>Passedout</th>
                        <th>Backlogs</th>
                        <th>Qualification</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>Assigne</th>
                        <th>status</th>
                        <th>Course</th>
                        <th>Batch</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
